/* Place CSS styles here */

body {

    /* font code for body text */
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: black;
}

.fastFood {
    width: 200px;
}

.chickfila {
    width: 120px;
}

.canes {
    width: 120px;
}

.whataburger {
    width: 120px;
}

/* unneeded, just changed background color instead
hr {
     height: 4px; 
    background-color: rgb(35, 33, 23);
    border: none;
} */



h1, h2, h3, h4, h5, h6 {
    font-family: "Poiret One", sans-serif;
    font-weight: 1000;
    font-size: 40px;
}

/* overridding the h1 section since its the website header */
h1 {
    font-family: "Poiret One", sans-serif;
    font-weight: 1000;
    font-size: 60px;
}

.section-1 {
    background-color: cornsilk;
    padding-top: 6px;
}

.section-2 {
    background-color: bisque;
    padding-top: 6px;
}

.section-3 {
    background-color: burlywood;
    padding-top: 6px;
}

/* 
this commented out code means the same as code above
h1 {
    font-family: "Poiret One", sans-serif;
    font-weight: 1000;
    font-size: 60px;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poiret One", sans-serif;
    font-weight: 1000;
    font-size: 60px;
} */